@model InventoryManager.Models.Sharing

@{
    ViewBag.Title = "SharedEdit";
}

<h2>SharedEdit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.InventoryId)

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class=" pull-left"></div>
    @Html.RadioButtonFor(model => model.Permission, 0, new { id = "readPerm active" })
    @Html.Label("readPerm", "Read")

    @Html.RadioButtonFor(model => model.Permission, 1, new { id = "addPerm" })
    @Html.Label("addPerm", "Add")

    @Html.RadioButtonFor(model => model.Permission, 2, new { id = "editPerm" })
    @Html.Label("editPerm", "Edit")

    @Html.RadioButtonFor(model => model.Permission, 3, new { id = "adminPerm" })
    @Html.Label("adminPerm", "Admin")


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Cancel", "Open", "Inventories", new { id = Model.InventoryId }, new { @class = "btn btn-warning" })
            <button class="btn btn-default" type="submit" id="saveAndOpen" name="action" value="SaveAndOpen">Save & Return to Inventory</button>
            <button class="btn btn-primary" type="submit" id="saveAndReturn" name="action" value="SaveAndCreate">Save & Return to Shared</button>
        </div>
    </div>
}